<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Site des Exoplanètes</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>

<body>
<header>
    <h1>Exo-(JS) Planètes</h1>
    <nav class="navBar">
        <ul class="navBar__list">
            <li class="navBar__list__item"><a href="/"> Accueil</a></li>
            <li class="navBar__list__item"><a href="/exoplanetes">Exoplanètes</a></li>
            <li class="navBar__list__item"><a href="/exolunes"> Exolunes</a></li>
            <li class="navBar__list__item"><a target="_blank" href="http://ochoquet.be/syllabusWeb1/Syllabus_Web1.html#/"> Syllabus Web1</a></li>
        </ul>
    </nav>
</header>
{{{body}}}
<footer>
    Site sponsorisé par Exo1000.
</footer>
</body>

</html>